/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');


body {
    background-color: rgb(222, 210, 182);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body,html {
    height: 100%;
}